@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f6f0e5 inset;
  -webkit-text-fill-color: #5b1724;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --maroon: #641c2a;
  --maroon-light: #7a2636;

  --beige: #f3e8d5;
  --beige-light: #faf4e8;

  --gold: #c29a55;
  --gold-light: #d8bb82;

  --black: #171313;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--beige);
  color: var(--black);
}

::selection {
  background: var(--maroon);
  color: var(--beige-light);
}

/* Brand Colors */

.bg-maroon {
  background-color: var(--maroon);
}

.bg-maroon-light {
  background-color: var(--maroon-light);
}

.bg-beige {
  background-color: var(--beige);
}

.bg-beige-light {
  background-color: var(--beige-light);
}

.bg-gold {
  background-color: var(--gold);
}

.text-maroon {
  color: var(--maroon);
}

.text-gold {
  color: var(--gold);
}

.text-beige {
  color: var(--beige);
}

.text-beige-light {
  color: var(--beige-light);
}

.text-black {
  color: var(--black);
}

.border-maroon {
  border-color: var(--maroon);
}

.border-gold {
  border-color: var(--gold);
}

.font-serif {
  font-family: Georgia, "Times New Roman", serif;
}